<div id="sidebar" class="bg-dark text-white">

    <!-- movil -->
    <div></div>
    <!-- end movil -->

    <div id="sidebar-content">

        <ul class="nav nav-sidebar">

            <li class="nav-item-header">
                <div class="text-uppercase">
                    Principal
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="#">Maestro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tesoreria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Seguridad</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categorias']" routerLinkActive="router-link-active">Categorias</a>
            </li>

        </ul>

    </div>

</div>