.mat-table {
  font-family: "Arimo", Helvetica, sans-serif;
  font-size: 0.75;
}

.mat-table mat-header-row {
  min-height: 2.5rem;
  font-size: 14px;
  background: #343a40;

  /* background: #f8f9fa; */
}

.mat-table .mat-row .mat-cell {
  color: rgba(0, 0, 0, 0.55);
  font-size: 12px;
}

.mat-header-cell {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
}

.mat-table mat-row,
.mat-table mat-footer-row {
  min-height: 2rem;
}

.mat-column-id{
  flex: 0 0 10%;
}

.mat-column-subtotal, 
.mat-column-cantidad,
.mat-column-precio,
.mat-column-precio_pc,
.mat-column-precio_pv {

  flex: 0 0 15%;
}

.table-acction.mat-column-accion {
  flex: 0 0 10%;
}

.mat-paginator {
  background: #f8f9fa;
}
