<div class="page-content">
    <div class="content-wrapper">
        <div class="content d-flex justify-content-center align-items-center">

            <form class="login-box" [formGroup]="formaLogin" (ngSubmit)="onSubmit()">
                <div class="card mb-0">
                    <div class="card-body">

                        <div class="text-center mb-3">
                            <img src="assets/images/logoChimpi.png" height="128px" alt="">
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control" placeholder="Username" name="username"
                                formControlName="username">
                            <div class="form-control-feedback">
                                <i class="icon ion-md-person text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                formControlName="password">
                            <div class="form-control-feedback">
                                <i class="icon ion-md-lock text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="!formaLogin.valid || loading " >
                                Sign in
                                <i class="icon ion-ios-arrow"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>